.containerFriendReqOnglet {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerCheck {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.noButton,
.bloqueButton,
.yesButton {
    min-height: 22px;
    min-width: 22px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px white);
    transition: filter 0.3s ease;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.yesButton {
    background-image: url(../../../../img/yes.png);
    min-height: 36px;
    min-width: 32px;
}

.bloqueButton {
    background-image: url(../../../../img/bloque.png);
    min-height: 30px;
    margin-right: 6%;
    min-width: 32px;
}

.noButton {
    background-image: url(../../../../img/croix.png);
}

.noButton:hover,
.bloqueButton:hover,
.yesButton:hover {
    filter: drop-shadow(0px 0px 15px white);
}

.noButton:active,
.bloqueButton:active,
.yesButton:active {
    transform: scale(0.9);
}