.UserPic {
    width: 100px;
    height: 100px;
    position: relative;
}

.ProfilePic {

    background-image: url('../../img/smoking.png');
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    z-index: 1;
}

.box {
    content: "";
    width: 100px;
    height: 100px;
    background: linear-gradient(-45deg, #4070e2 0%, #4070e2 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(30px);
    opacity: 0.9;

    position: absolute;
    top: -10px;
    z-index: -1;
}

.fx {
    background-image: url('../../img/fxPic.png');
    width: 137px;
    height: 114px;

    position: absolute;
    top: -15px;
    left: -10px;
}

.OverlayPic {
    background-image: url('../../img/overlayPic.png');
    mix-blend-mode: lighten;
    width: 379px;
    height: 379px;
    background-size: cover;

    position: absolute;
    left: -110px;
    top: -160px;
    z-index: -1;
}